.modal-login-template {
  position: relative;
  padding: 0 20px 20px 20px;
  max-width: 450px;
  width: 100%;
  background-color: $color-white;
  border-radius: 10px;

  .modal-login-template__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .modal-login-template__clear-icon {
    color: $color-dark;
    position: absolute;
    right: 5px;
    top: 10px;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  .modal-login-template__subtitle {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
  }

  .modal-login-template__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .modal-login-template__input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  .modal-login-template__error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
  }

  .modal-login-template__modal-subtext {
    font-size: 12px;
    color: $color-text-light;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .modal-login-template__other-methods {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }

  .modal-login-template__icon-block {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: opacity 0.4s ease;
    background: $color-text;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .modal-login-template__auth-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
  }

  .modal-login-template__auth-icon {
    font-size: 24px;
    cursor: pointer;
    color: $color-white;
    transition: opacity 0.4s ease;
    background: $color-text;

    &:hover {
      opacity: 0.7;
    }
  }

  .modal-login-template__agreement {
    font-size: 12px;
    margin-top: 30px;
    color: $color-dark;
    text-align: center;

    a {
      color: $color-dark;
      text-decoration: underline;
    }
  }

  .modal-login-template__checkbox {
    margin-right: 5px;
  }
}
