@import "../../styles/variables.scss";

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 1.6em;
  height: 1.6em;
  left: -5px;
  top: 12px;
  z-index: 10;
  cursor: pointer;
}

.custom-checkbox {
  width: 1.6em;
  height: 1.6em;
  border: 1px solid $color-light-gray;
  border-radius: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;

  &:hover {
    border-color: $color-dark;
  }

  &.checked {
    color: #fff;
  }

  svg {
    position: absolute;
    width: 14px;
    height: 14px;
    fill: #fff;
  }
}

.checkbox-input:hover + .custom-checkbox {
  border-color: $color-dark;
}

.checkbox-input:checked + .custom-checkbox {
  border-color: $color-dark;
}

.checkbox-input:disabled + .custom-checkbox {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkbox-input:disabled + .custom-checkbox svg {
  fill: #c0c0c0;
}

.checkbox-label {
  white-space: normal;
  margin-left: 8px;
}

.checkbox-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
