.main-screen {
  background: $color-light;
  padding: 15px;
  height: calc(100vh - 30px);
  position: relative;
  border-radius: 10px;
  z-index: 5;

  .main-screen__container {
    display: flex;
    justify-content: center;
    height: 100%;

    .main-screen__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: 25px;

      .main-screen__block-titles {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 5%;

        @media (min-width: 1640px) {
          margin: 0 auto;
        }

        .main-screen__title {
          max-width: 589px;
        }
      }

      .main-screen__subtitle {
        font-size: calc(0.5rem + 1vw); // Адаптивный размер заголовка
      }
    }

    .main-screen__image-container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      svg {
        width: 70%;
      }

      // .main-screen-picture {
      //   width: 705px;
      //   height: 662px;

      //   @media (max-width: 1200px) {
      //     width: 550px;
      //     height: 500px;
      //   }

      //   @media (max-width: 992px) {
      //     width: 450px;
      //     height: 350px;
      //   }

      //   @media (max-width: 768px) {
      //     width: auto;
      //     height: 310px;
      //   }
      // }
    }

    @media (max-width: 550px) {
      flex-wrap: wrap;
    }
  }
}
