.main-screen {
  background: $color-light;
  padding: 15px;
  height: calc(100vh - 15px);
  position: relative;
  z-index: 3;

  .main-screen__container {
    display: flex;
    justify-content: center;
    height: 100%;

    .main-screen__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      gap: 25px;

      .main-screen__title {
        max-width: 589px;
        h1 {
          font-size: 55px;
          @media (max-width: 1200px) {
            font-size: 35px;
          }

          @media (max-width: 992px) {
            font-size: 25px;
          }

          @media (max-width: 768px) {
            font-size: 21px;
          }

          @media (max-width: 550px) {
            font-size: 15px;
          }
        }
      }

      .main-screen__subtitle {
        font-size: 15px;
      }
    }

    .main-screen__image-container {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .main-screen-picture {
        width: 705px;
        height: 662px;

        @media (max-width: 1200px) {
          width: 550px;
          height: 500px;
        }

        @media (max-width: 992px) {
          width: 450px;
          height: 350px;
        }

        @media (max-width: 768px) {
          width: auto;
          height: 310px;
        }
      }
    }

    @media (max-width: 550px) {
      flex-wrap: wrap;
    }
  }
}
