@import "./index.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4,
h5,
p,
button,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Raleway", sans-serif;
  background-color: $color-white;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: $color-text;
}

p,
li,
button,
a {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

button {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
a,
figure,
hr,
table,
fieldset,
legend {
  margin: 0;
  padding: 0;
  color: $color-text;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  padding: 15px;
  height: 100%;
  border-radius: 7px;
}

.main {
  padding: 15px;
  border-radius: 10px;
  background: $color-light;
  height: 100%;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
