@import "./index.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4,
h5,
p,
button,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Raleway", sans-serif;
  background-color: $color-white;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: $color-text;
}

p,
li,
span,
button,
a {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

p,
button {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
a,
figure,
hr,
table,
fieldset,
legend {
  margin: 0;
  padding: 0;
  color: $color-text;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  border-radius: 7px;
}

.main {
  padding: 15px;
  border-radius: 10px;
  height: 100%;
  position: relative;

  @media (max-width: 520px) {
    padding: 5px;
  }
}

h1 {
  font-size: calc(2rem + 3vw);

  @media (max-width: 520px) {
    font-size: calc(1.8rem + 3vw);
  }
}

h2 {
  font-size: calc(1.8rem + 0.7vw);

  @media (max-width: 520px) {
    font-size: calc(0.8rem + 0.7vw);
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.2rem + 0.5vw);
}

h5 {
  font-size: calc(1rem + 0.4vw);
}

h6 {
  font-size: calc(0.9rem + 0.3vw);
}

.Toastify__toast-body {
  div {
    font-family: "Raleway", sans-serif;
    color: $color-text !important;
  }
}

.Toastify__close-button {
  color: $color-text !important;

  svg {
    fill: black !important;
  }
}

.Toastify__toast--success {
  .Toastify__progress-bar--success {
    background-color: rgb(206, 242, 103) !important;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
  }

  .Toastify__toast-icon {
    svg {
      fill: rgb(206, 242, 103) !important;
    }
  }
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
