.header {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 5;
  .header__block-login-container {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .header__container {
    box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 8px;
    flex: 1;
    border-radius: 7px;
    background-color: $color-white;

    .header__block_login {
      margin-left: auto;
      display: none;

      @media (max-width: 1023px) {
        display: block;
      }

      @media (max-width: 520px) {
        .header__login-button {
          width: 110px;
        }
      }
    }

    .header__burger-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      display: none;

      @media (max-width: 1023px) {
        display: flex;
      }
    }

    @media (min-width: 1600px) {
      padding: 16px;
    }
  }

  .header__block_login {
    position: relative;

    .header__popup-block {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      width: 170px;
      height: 120px;
      display: flex;
      padding: 20px 0 10px 0;
      gap: 10px;
      flex-direction: column;

      .header__popup-block-menu {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .header__popup-block-menu-header {
          display: flex;
          gap: 5px;
          padding-left: 10px;
          padding-bottom: 8px;
          white-space: normal;
          border-bottom: 1px solid #edeaea;
          .text {
            font-size: 12px;
          }

          .email {
            cursor: pointer;
          }
        }

        .header__popup-block-menu-container {
          .header__popup-block-menu-item {
            display: flex;
            gap: 5px;
            padding-left: 10px;

            &:hover {
              background-color: #fafafc;
              cursor: pointer;
            }
            .icon {
              padding-top: 2px;
            }

            .text {
              font-size: 12px;
            }
          }
        }
      }

      p {
        transition: opacity 0.3s ease;
        font-weight: 400;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }

    .header__block_login_server {
      position: relative;
      display: inline-block;
    }

    .header__profile-server {
      width: calc(40px + 1vw);
      height: calc(40px + 1vw);
      font-size: calc(20px + 1vw);
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
    }

    .header__profile_client {
      position: absolute;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-color: transparent;
      top: 0;
      left: 0;
      cursor: pointer;
      z-index: 10;
    }

    .header__block_login_client {
      position: absolute;
      width: 148px;
      cursor: pointer;
      height: 40px;
      top: 0;
      left: 0;
      z-index: 10;

      @media (max-width: 520px) {
        width: 110px;
      }
    }
  }
}
