.services-screen {
  background-color: white;
  height: calc(100vh - 15px);
  position: relative;

  h2 {
    text-transform: uppercase;
    padding-top: calc(7vh + 20px); // Адаптивный отступ сверху
    padding-bottom: calc(7.5vh + 30px); // Адаптивный отступ снизу
    margin: 0 auto;
    text-align: center;
    width: calc(20vw + 20rem); // Используем vw и rem для адаптивной ширины
    font-size: calc(2rem + 0.5vw); // Базовый адаптивный размер для заголовка
  }

  .services-screen__blocks {
    display: flex;
    justify-content: space-around;
    gap: 2vw; // Пространство между блоками адаптируется к ширине экрана

    .services-screen__block {
      background: $color-light;
      width: 30vw; // Адаптивная ширина блока
      border-radius: 1vw;
      padding: 2vh 1.5vw 4vh 1.5vw;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition:
        background 0.3s ease,
        transform 0.5s ease;

      // Текстовые элементы тоже настраиваются адаптивно
      .services-screen__title {
        display: flex;
        justify-content: space-between;

        .services-screen__text {
          margin-top: 1vh;
          max-width: 20vw; // Используем vw для адаптивности текста
          text-transform: uppercase;
          font-size: calc(
            1rem + 0.3vw
          ); // Немного увеличиваем шрифт на больших экранах
          transition: color 0.3s ease;
        }
      }

      .services-screen__picture-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15vw; // Адаптивный размер для контейнера изображения
        margin: 2vh auto 0 auto;

        .services-screen__picture-wrapper {
          width: 100%; // Контейнер занимает всю ширину блока
          height: auto;

          svg {
            width: 100%; // SVG занимает всю ширину родительского блока
            height: auto;
          }
        }
      }

      &:nth-child(odd):hover {
        background: $color-dark;
        transform: rotate(1.83deg);
        cursor: pointer;

        .services-screen__text h5 {
          color: $color-light;
        }
      }

      &:nth-child(even):hover {
        background: $color-dark;
        transform: rotate(-1.83deg);
        cursor: pointer;

        .services-screen__text h5 {
          color: $color-light;
        }
      }
    }

    .services-screen__arrow-block {
      width: 3vw; // Адаптируем размер стрелки
      height: 3vw;
      border-radius: 50%;
      display: flex;
      background: $color-white;
      justify-content: center;
      align-items: center;

      svg {
        width: 30%;
        height: 30%;
      }
    }
  }

  @media (min-width: 1440px) {
    .services-screen__block {
      width: 25vw;
      padding: 3vh 2vw;

      .services-screen__text {
        font-size: calc(1rem + 0.5vw);
      }

      .services-screen__picture-block {
        width: 18vw;
      }
    }

    h2 {
      padding-top: calc(10vh + 20px); // Адаптивный отступ сверху
      font-size: calc(2rem + 1vw); // Увеличиваем заголовок для больших экранов
    }
  }

  @media (min-width: 1600px) {
    .services-screen__block {
      width: 25vw;
      padding: 3vh 2vw;

      .services-screen__text {
        font-size: calc(1rem + 0.5vw);
      }

      .services-screen__picture-block {
        width: 18vw;
      }
    }

    h2 {
      padding-top: calc(15vh + 20px); // Адаптивный отступ сверху
      font-size: calc(
        2.5rem + 1vw
      ); // Увеличиваем заголовок для больших экранов
    }
  }

  @media (max-width: 520px) {
    h2 {
      font-size: calc(1.8rem + 0.5vw);
      padding-bottom: 30px;
      padding-top: 40px;
      max-width: 80%;
    }

    .services-screen__blocks {
      padding: 5px;
      flex-direction: column;
      gap: 10px;

      .services-screen__block {
        width: 100%;
        padding: 20px;
        height: 350px;

        .services-screen__text {
          max-width: 80% !important;
        }

        .services-screen__arrow-block {
          width: 50px;
          height: 50px;
        }

        .services-screen__picture-block {
          width: 250px;
        }
      }
    }
  }
}
